.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: auto;
}

.example-full-width {
    width: 100%;
    margin-top: 10px;
}

.header {
    margin-top: 20px;
    text-align: center;
}

.add-button {
    float: right;
}